<div class="center hero-unit">
  <h1>Welcome to <%= logo %></h1>
  <h2>
    This is the home page for the College of Engineering's 
    <a href="http://proman.swan.ac.uk/">Proman</a> &mdash; Project Selection Management tool, 2013 edition.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

