<% flash.each do |name, message| %>
  <% if message.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, message, id: "flash_#{name}" %>
    </div>
  <% end %>
<% end %>